@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1, h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var( --bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
    padding-top: 5rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var( --bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}
.hero-section .container
{
    display: grid;
place-content: center;
    position: relative;
    height: 80vh;
}
.hero
{
    width: 90%;
    border-radius: 3rem;
}
.bg-color
{
    background-color: #123456;;
}

.nav-link
{
    color: var(--bs-primary-color);
    font-weight: bolder;
    font-size: large;
}

.nav-link:hover
{
    color: var(--secondary-color);
}

.custom-shape-divider-bottom-1707320140 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1707320140 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 178px;
}

.custom-shape-divider-bottom-1707320140 .shape-fill {
    fill: #FFFFFF;
}

.icon-span
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: deepskyblue;
}
.hr1
{
    padding-bottom: 2rem;
}
